<!DOCTYPE>

<html>
	<head>
		<title>Sign Up</title>
	</head>

	<body>
		<h2>Sign Up</h2>

		<form method="post">
			<table>
				<tr>
					<td class="label">Username</td>
					<td><input type="text" name="username" value="Nothing yet...."></td>
				</tr>
				<tr>
					<td class="label">Password</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				<tr>
					<td class="label">Verify Password</td>
					<td><input type="password" name="verify" value=""></td>
				</tr>
				<tr>
					<td class="label">E-mail (optional)</td>
					<td><input type="text" name="email" value="Nothin yet..."></td>
				</tr>	

			</table>
		</form>
	</body>
</html>